.associados{
    position: relative;
}
header {
    height: 90px;
    background-color: #204285;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.painel-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

.icon-user {
    font-size: 50px;
    display: inline-block;
    margin-right: 20px;
    color: black;
}

header p {
    color: #F8F4F4;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}


.caixa-inpunt-pesquisa {
    width: calc(100% - 20%);
    max-width: 700px;
    margin: 20px auto;
    position: relative;

}

#inpunt-pesquisa {
    width: 100%;
    height: 50px;
    border: none;
    background-image: linear-gradient(to left, #204285 20%, #CAC6C6 20%);
    border-radius: 20px;
    outline: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #000203d2;

}

.botao-pesquisa {
    border: none;
}



.icon-search,
.number {
    position: absolute;
    font-size: 35px;
    cursor: pointer;
}

.number {
    top: 10px;
    left: 13px;
    font-size: 26px;
    font-family: sans-serif;
    color: #204285;
    font-weight: 700;
}

.icon-search {
    top: 8px;
    right: 18px;
    color:white;
    font-size: 35px;
    cursor: pointer;

}

#inpunt-pesquisa::placeholder {
    text-align: center;
}



.caixa-lista-associados {
    width: calc(100% - 10%);
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    height: 700px;
    justify-content: center;
    overflow-y: auto;
    border-radius: 10px;
}


.lista-associados {
    width: calc(100%);
    max-width: 1000px;
    height: 3000px;
    background-color: #d31e25;

}

.caixa-listaAssociados {
    border-bottom: 1px solid #fdfeff8f;
    padding: 10px 20px 10px 10px;
    font-family: sans-serif;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: aliceblue;
    font-size: 11px;
    font-weight: 600;
 
}


.iconUser-cliente {
    display: inline-block;
    font-size: 45px;
    margin-right: 20px;

}

.nome-cpf {
    display: inline-block;
    margin-right: 30px;
}

.nome-cpf p:first-child {
    font-size: 17px;
}

.nome-cpf p {
    margin-bottom: 10px;
}

.fone-vencimento {
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    color: aliceblue;
}

.fone-vencimento p:first-child {
    margin-bottom: 10px;
}

.fone-vencimento p:nth-child(2){
    display: flex;
    align-items: center;
}

.logoFone{
    width: 15px;
    margin-right: 2px;
}

