header {
    height: 80px;
    background-color: #024F70;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.painel-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

.icon-user {
    font-size: 50px;
    display: inline-block;
    margin-right: 20px;
    color: black;
}

header p {
    color: #F8F4F4;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}


.caixa-inpunt-pesquisa {
    width: calc(100% - 20%);
    max-width: 700px;
    margin: 20px auto;
    position: relative;

}

#inpunt-pesquisa {
    width: 100%;
    height: 50px;
    border: none;
    background-image: linear-gradient(to left, #024F70 20%, #CAC6C6 20%);
    border-radius: 20px;
    outline: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #000203d2;

}

.botao-pesquisa {
    border: none;
}

.icon-search,
.number {
    position: absolute;
    font-size: 30px;
    cursor: pointer;
}

.number {
    top: 10px;
    left: 13px;
    font-size: 26px;
    font-family: sans-serif;
    color: #024F70;
    font-weight: 700;
}

.icon-search {
    top: 10px;
    right: 13px;
}

#inpunt-pesquisa::placeholder {
    text-align: center;
}



.caixa-lista-associados {
    width: calc(100% - 10%);
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    height: 700px;
    justify-content: center;
    overflow-y: auto;
    border-radius: 10px;
}


.lista-associados {
    width: calc(100%);
    max-width: 1000px;
    height: 3000px;
    background-color: #B8534D;

}

.caixa-listaAssociados {
    border-bottom: 1px solid #0118228f;
    padding: 10px 20px 10px 10px;
    font-family: sans-serif;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: aliceblue;
    font-size: 11px;
    font-weight: 600;
}



.iconUser-cliente {
    display: inline-block;
    font-size: 45px;
    margin-right: 20px;

}

.nome-cpf {
    display: inline-block;
    margin-right: 30px;
}

.nome-cpf p:first-child {
    font-size: 12px;
}

.nome-cpf p {
    margin-bottom: 10px;
}

.fone-vencimento {
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    color: aliceblue;
}

.fone-vencimento p:first-child {
    margin-bottom: 10px;
}

footer {
    height: 80px;
    width: 100%;
    background-color: #024F70;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 20px white;
}


.botao-novoCliente {
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #B8534D;
    border-radius: 7px;
    color: #f2f2f2;
    font-weight: bold;
}

.botao-novoCliente:hover {
    background-color: #027aae;
}

.botao-novoCliente:active {
    transform: scale(0.97);
    background-color: #027aae;
}