
.icon-menu {
    position: fixed;
    font-size: 50px;
    right: 10px;
    top: 13px;
    cursor: pointer;
    z-index: 2;
    color: rgb(255, 255, 255);
}

.caixa-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height:0;
    background-color: rgba(9, 9, 9, 0.727);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    transition: all 0.1s;
    backdrop-filter: blur(10px);
}

.caixa-menuAberta{
    width: 100%;
    height: 100vh;
}

.link {
    text-decoration: none;
    width: calc(100% - 60%);
    max-width: 200px;
    height: 50px;
    background-color: #d31e25;
    color: #F8F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 7px;
    color: #f2f2f2;
    font-weight: 800;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.1s;
}

.link:hover{
    background-color: #204285;
    transform: scale(0.9);
}

.caixa-menu p:hover{
    background-color: #027aae;
}

.caixa-menu p:active{
    transform: scale(0.97);
    background-color: #027aae;
}
