.rodaPeAdd {
    height: 90px;
    width: 100%;
    background-color: #204285;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodaPeAdd img{
    width: 150px;
}