.rodaPe {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.rodaPe img{
    width: 200px;
}