.rodaPe {
    height: 90px;
    width: 100%;
    background-color: #204285;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px 10px black;
}

.rodaPe img{
    width: 150px;
}


