footer {
    height: 90px;
    width: 100%;
    background-color: #204285;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 20px white;
}

footer img{
    width: 150px;
}