
.icon-menu {
    position: fixed;
    font-size: 50px;
    right: 10px;
    top: 13px;
    cursor: pointer;
    z-index: 2;
    color: rgb(255, 255, 255);
}

.caixa-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height:0;
    background-color: rgba(9, 9, 9, 0.923);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    transition: all 0.1s;
}

.caixa-menuAberta{
    width: 100%;
    height: 100vh;
}

.caixa-menu p {
    width: calc(100% - 50%);
    max-width: 200px;
    height: 40px;
    background-color: #B8534D;
    color: #F8F4F4;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
    border-radius: 7px;
    color: #f2f2f2;
    font-weight: bold;
}

.caixa-menu p:hover{
    background-color: #027aae;
}

.caixa-menu p:active{
    transform: scale(0.97);
    background-color: #027aae;
}
