.caixa-lista-contratos {
    width: calc(100% - 10%);
    max-width: 1000px;
    height: 60vh;
    min-height: 100px;
    overflow-y: auto;
    border-radius: 10px;
    margin: 0 auto;
}

@media screen and (min-height:700px) {
    .caixa-lista-contratos{
        height:500px ;
    }
}


@media screen and (min-height:900px) {
    .caixa-lista-contratos{
        height:930px ;
    }
}

@media screen and (min-height:1000px) {
    .caixa-lista-contratos{
        height:800px ;
    }
}

@media screen and (min-height:1200px) {
    .caixa-lista-contratos{
        height:950px ;
    }
}



.caixa-listaContratos {
    border-bottom: 1px solid #0118228f;
    background-color: #acacac5c;
    font-family: sans-serif;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 600;
    padding: 8px;
    position: relative;
}

.icon-document {
    color: black;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    font-size: 40px;
    display: inline-block;
}

.lista-contratos .nomeAssociado {
    text-align: center;
    font-size: 12px;
    vertical-align: top;
    margin-top: 50px;

}

.lista-contratos div {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}



