.app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: #204285;
    
}


.app img{
    width: 260px;
    margin-bottom: 30px;
  
}



.main {
    width: calc(100% - 10%);
    max-width: 400px;
    height: 400px;
    background-color: #f9f9f953;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-bottom: 100px;
    
}

.caixaInpunt {
    width: calc(100% - 10%);
    position: relative;
   

}

.cpf,
.senha {
    width: 100%;
    border-radius: 10px;
    height: 50px;
    border: none;
    background-image: linear-gradient(to right, #d31e25 18%, white 18%);
    padding-left: 66px;
    position: relative;
    font-weight: bold;
    font-size: 17px;
    outline: none;
}



input::placeholder {
    color: #01354b81;
    font-family: sans-serif;
    text-align: start;
    font-weight: bold;
    font-size: 15px;
}


.caixa-salvar {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: -25px;
    right: 15px;
  
}

.box {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 2px;
    margin-right: 5px;
}

.caixa-salvar p{
   font-family: sans-serif;
   font-size: 11px;
}


.user,
.lock {
    font-size: 30px;
    color: white;
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 10px;
}

.botao-login {
    width: 180px;
    height: 50px;
    border-radius: 7px;
    border: none;
    background-color: #d31e25;
    color: white;
    font-weight: 800;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: sans-serif;
    box-shadow: 0 3px 7px 0 black;
}

.botao-login:hover{
    background-color: #204285;
    transform: scale(0.9);
}


.botao-login:active {
    background-color: #03161e;
    color: white;
    transition: 0.3s;
}