.lista-associados {
    width: calc(100%);
    max-width: 1000px;
    height: 3000px;
    background-color: #B8534D;

}

.caixa-cliente {
    border-bottom: 1px solid #0118228f;
    padding: 10px 20px 10px 10px;
    font-family: sans-serif;
    cursor: pointer;
    display: block;
}


.iconUser-cliente {
    display: inline-block;
    font-size: 45px;
    margin-right: 20px;
   
}

.numero-cpf {
    display: inline-block;
    margin-right: 4.3vw;
    color: aliceblue;
    font-size: 12px;
    font-weight: 600;
}

.numero-cpf p {
    margin-bottom: 8px;
}

.fone {
    padding-top: 17px;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: aliceblue;
}