.caixa-listaVeiculos {
    border-bottom: 1px solid #0118228f;
    font-family: sans-serif;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
    font-weight: 600;
    padding: 8px;
}

.icon-cart {
    width: 60px;
    display: inline-block;
    margin-right: 10px;
}

.nome-placa {
    font-size: 10px;
    display: inline-block;
    height: 40px;
    vertical-align: top;
    margin-top: 25px;
    margin-right: 10px;
}

.nome-placa p {
    display: inline-block;
}

.nome-placa p:first-child {
    margin-right: 10px;
}

.nome-placa span {
    font-size: 10px;
}


.cor {
    text-align: center;
    font-size: 10px;
}

.cor span {
    font-size: 11px;
}