
.caixa-cliente{
    border-bottom: 1px solid #0118228f;
    padding: 10px 20px 10px 10px;
   
}


.iconUser-cliente{
    display: inline-block;
    font-size: 45px;
    margin-right: 20px;
}

.numero-cpf{
    display: inline-block;
    margin-right: 4.3vw;
}

.fone{
    padding-top: 17px;
    display: inline-block;
}