.caixa {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.iconUserInfo {
    font-size: 70px;
    margin: 10px 0 10px ;
    color: #d31e25;
}

.caixaInfos {
    width: calc(100% - 5%);
    max-width: 700px;
    background-color: #acacac5c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    gap: 25px;
    position: relative;
}

.caixaInfos p {
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.caixaInfos h1,
h2 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 15px 0;
    font-family: sans-serif;

}

h2 {
    text-align: center;
    margin-top: 30px;
}


.caixaInfos div {
    width: calc(100% - 10%);
    font-size: 12px;
    position: relative;
    font-size: 10px;
}

.caixaInfos div::after {
    position: absolute;
    content: '';
    width: calc(102%);
    height: 1px;
    border-radius: 50%;
    background-color: rgb(13, 0, 0);
    left: 50%;
    transform: translate(-50%);
    bottom: -1px;
}



span {
    color:#d31e25;
    font-size: 14px;
    font-weight: 700;

}


.caixa-doisP p {
    display: inline-block;
}

.caixa-doisP p:first-child {
    margin-right: 30px;
}

.caixa-pessoaFisica {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.dataNascimento{
    margin-bottom: 20px;
}


.botao-arrow {
    position: relative;
}


.arrowVolta {
    width: 40px;
    height: 40px;
    background-color:#acacac5c;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    left: -100px;
    bottom: 20px;
    transition: 0.1s;
}

.arrowVolta:hover {
    transform: scale(1.1);
    background-color: #204285;
    color: white;
}

.butao-aditar {
    margin: 20px 0;
    padding: 10px 30px;
    border: none;
    background-color: #d31e25;
    color: white;
    border-radius: 7px;
    box-shadow: 0 3px 7px 0 black;
    font-size: 18px;
    font-weight: 700;
}

.butao-aditar:hover {
    background-color: #204285;
    transform: scale(1.1);
    cursor: pointer;
}

.botaoSalvar{
    padding: 10px 25px;
    border: none;
    background-color: #d31e25;
    color: white;
    border-radius: 7px;
    box-shadow: 0 3px 7px 0 black;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    right: 0;
    bottom: -60px;
}

.botaoSalvar:hover{
    background-color:#204285;
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}