.caixa-listaVeiculos {
    border-bottom: 1px solid #0118228f;
    font-family: sans-serif;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
    font-weight: 600;
    padding: 8px;
    position: relative;
    background-color: #d31e25;
}

.botao-pesquisa img{
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 5px;
    background-color: #204285;
    height: 50px;
    width: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.icon-cart {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    width: 60px;
    display: inline-block;
    
}

.nome-placa {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 45px 0 20px 0;
}

.nome-placa p{
    font-size: 14px;
}
.nome-placa span{
    font-size: 15px;
    
}

.nome-placa p {
    display: inline-block;
}

.nome-placa p:first-child {
    margin-right: 10px;
}

.cor {
    text-align: center;
    font-size: 14px;
}

.cor span {
    font-size: 15px;
}