.caixa-listaVeiculos {
    border-bottom: 1px solid #ffffff8f;
    font-family: sans-serif;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    background-color: #ACACAC5c;
    height: 90px;
    display: flex;
    align-items: center;
}
.associados span{
    color: black;
}


.botao-pesquisa img{
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 5px;
    height: 50px;
    width: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.icon-cart {
    font-size: 50px;
    display: inline-block;
    margin: 10px 15px 0 10px;
    color: black;
    
}

.nome-proprietario{
    display: inline-block;
    color: black;
    font-size: 13px;
    width: 180px;
    position: relative;
}

.nome-proprietario span{
    font-size: 13px;
}

.nome-proprietario p:nth-child(1){
    font-size: 16px;
    margin-bottom:10px ;
}

.placa{
    color: black;
    position: absolute;
    right: -70px;
    top: 0;
}

.placa span{
    font-size: 15px;
}
@media screen and (min-width: 700px) {

    .nome-proprietario{
        width: 300px;
    }

    .nome-proprietario span{
        font-size: 14px;
    }

}

